*{
	display:inline-block;
}
html, body {
	width:100%;
	height:100%;
}

/*page one*/
.a {
	margin:2%;
	width:95%;
	height:42.5%;
	background:blue;
}
.b {
	margin:2%;
	margin-top:0;
	width:95%;
	height:42.5%;
	background:yellow;
}

/*page two*/

.c {
	margin:2%;
	width:45%;
	height:100%;
	background:blue;
}
.d {
	margin:2%;
	width:45%;
	height:100%;
	background:yellow;
}

/*page three*/

.e {
	margin:1.3%;
	width:30%;
	height:100%;
	background:blue;
}
.f {
	margin:1.3%;
	width:30%;
	height:100%;
	background:yellow;
}
.g {
	margin:1.3%;
	width:30%;
	height:100%;
	background:red;
}

/*page four*/

.h {
	margin:1.3%;
	width:22%;
	height:100%;
	background:blue;
}
.i {
	margin:1.3%;
	width:22%;
	height:100%;
	background:yellow;
}
.j {
	margin:1.3%;
	width:22%;
	height:100%;
	background:red;
}

.k {
	margin:1.3%;
	width:22%;
	height:100%;
	background:green;
}

/*page five*/


.l {
	margin:2%;
	width:95%;
	height:50%;
	background:blue;
}
.m {
	margin:2%;
	width:45%;
	height:50%;
	background:yellow;
}
.n {
	margin:2%;
	width:45%;
	height:50%;
	background:red;
}

/*page six*/


.o {
	margin:2%;
	width:45%;
	height:50%;
	background:blue;
}
.p {
	margin:2%;
	width:45%;
	height:50%;
	background:yellow;
}
.q {
	margin:2%;
	width:45%;
	height:50%;
	background:red;
}
.r {
	margin:2%;
	width:45%;
	height:50%;
	background:green;
}

/*page seven*/
.s {
	margin:2%;
	width:95%;
	height:42.5%;
	background:green;
}
.t {
	margin:1.3%;
	width:30%;
	height:100%;
	background:blue;
}
.u {
	margin:1.3%;
	width:30%;
	height:100%;
	background:yellow;
}
.v {
	margin:1.3%;
	width:30%;
	height:100%;
	background:red;
}

/*page eight*/
.w {
	margin:1.3%;
	width:32%;
	height:100%;
	background:green;
	position: absolute;
}
.x {
	margin:1.3%;
	width:63%;
	height:30%;
	background:blue;
	float: right;
}
.y {
	margin:1.3%;
	width:63%;
	height:30%;
	background:yellow;
	float: right;
}
.z {
	margin:1.3%;
	width:63%;
	height:30%;
	background:red;
	float: right;
}

#eight {
	display: initial;
}
